$path = '../images/'

.page-header
    width: 100%
    float: right
    h1
        margin: 0px
    p
        text-align: right
    .pull-left
        p
            text-align: left;

.panel-default
    clear: both

