.mdl-review

    table
        th
            text-align: right
            h3
                text-align: left
    img
        float: left
        margin-right: 10px


    .panel-footer
        text-align: right

