.container.mdl-review(ng-controller="ReviewListController")
    .page-header
        div.pull-left
            h1 Shopping Cart Details
            p Review your shopping list and click on confirm
        div.pull-right 
            span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
            span  Shopping Cart: ({{cart.totalQty()}})
            p ${{cart.totalPrice()}}

    .panel.panel-default.row.dl-review-list
        .panel-body(product-directive)
            table.table.table-stripped
                thead
                    tr
                        th
                        th Unit Price
                        th Quantity
                        th Total Price
                tbody
                    tr(ng-repeat='item in cart.checkedItems()')
                        th
                            img(src="https://placekitten.com/g/96/139" alt="...")
                            h3 {{item.name}}
                        th ${{item.price}}
                        th {{item.qty}}
                        th ${{item.calculateTotal()}}
 
        .panel-footer
            p Total Price: ${{cart.totalPrice()}}



    .btn-group
        button(ng-click="go('/')", type="button", class="btn btn-default") Back 
        button(ng-click="submit()", type="button", class="btn btn-primary") Confirm 


        