.container(ng-controller="ReviewListController")
    .page-header
        h1 Review your order

    .panel.panel-default.mdl-review-list
        .panel-body(product-directive)
            table.table.table-stripped
                thead
                    tr
                        th
                        th Unit Price
                        th Quantity
                        th Total Price
                tbody
                    tr(ng-repeat='item in cart.checkedItems()')
                        th
                            img(src="https://placekitten.com/g/96/139" alt="...")
                            h3 {{item.name}}
                        th ${{item.price}}
                        th {{item.qty}}
                        th ${{item.calculateTotal()}}
 
        .panel-footer
            p Total Price: ${{cart.totalPrice()}}



    .btn-group
        button(ng-click="go('/')", type="button", class="btn btn-default") Back 
        button(ng-click="go('/success')", type="button", class="btn btn-primary") Confirm 


        