.container(ng-controller="ReviewListController")
    .page-header
        h1 Successfully purchased books! 

    .panel.panel-default
        .panel-body
            p Total Order Price:
            p Confirmation Number:

        